<h3>Hi, {{name}}!</h3>
<div>
<form action="./guestbook" method="post" enctype="multipart/form-data">
{{name}}<button class="btn" type="submit">說</button>
<input type="text" name="message">
<input type="file" name="thumbnail">
</form>
</div>
<div id="content">
{{#show}}
<ul class="thumbnails">
{{#thumbnails}}
<li class="span4">
<div class="thumbnail">
<img src="{{thumbnail}}" width="300">
<div class="caption">
<h3>{{message}}</h3>
</div>
</div>
</li>
{{/thumbnails}}
</ul>
{{/show}}
</div>
